{% extends 'base.html.twig' %}
{% block title %}Le Rameau - Notre église : Église ACF {% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/home/about/mobile-main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/home/about/desktop-main.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <section id="relative">
        <div class="background">

        </div>
        <article>
            <h1 id="title-church"><span>Éphésiens 4:11-13 :</span> « Et il a donné les uns comme apôtres, les autres
                comme prophètes, les
                autres comme évangélistes, les autres comme pasteurs et docteurs,
                pour le perfectionnement des saints en vue de l'oeuvre du ministère et de l'édification du corps de
                Christ,
                jusqu'à ce que nous soyons tous parvenus à l'unité de la foi et de la connaissance du Fils de Dieu, à
                l'état
                d'homme fait, à la mesure de la stature parfaite de Christ. »</h1>
        </article>
    </section>
    <section class="church-team">
        <div class="pastor-title">
            <h2><img src="https://img.icons8.com/pastel-glyph/64/000000/business-group.png"/> Équipe pastorale</h2>
        </div>
        <div class="team">
            <h3 class="cyril">Cyril CARLIER <span>Pasteur référent</span></h3>
            <h3 class="agnes">Agnès CARLIER <span>Pasteur</span></h3>
            <h3 class="joseph">Joseph BENCIVINNI <span>Pasteur</span></h3>
            <h3 class="sabine">Sabine BENCIVINNI <span>Ancien</span></h3>
        </div>
    </section>
    <section class="our-vision">
        <article>
            <div class="center-title">
                <h2><img src="https://img.icons8.com/ios/50/000000/pirate.png"/> Notre vision </h2>
            </div>
            <p class="vision">
                « Annoncer l’évangile à toutes personnes pour qu’elles soient <span>sauvées</span>,
                <span>libérées</span> et <span>restaurées</span> au
                travers de <span><strong>Jésus</strong></span>, les aider à s’épanouir afin que chacun découvre ses dons
                et ses talents pour
                grandir dans la maturité et servir. »</p>
        </article>
    </section>
    <section class="faith">
        <article>
            <h2>Confession de foi <img src="https://img.icons8.com/ios-glyphs/60/000000/cross.png"/></h2>
            <div>
                <ul class="faith-list">
                    <li>
                        <p>En <strong>un seul Dieu le Père</strong>, créateur, infini, éternel et immuable</p>
                    </li>
                    <li>
                        <p><strong>la Bible</strong> (Ancien et Nouveau Testament) est la Parole éternelle de Dieu.
                            Elle constitue la seule et infaillible règle de vie chrétienne</p>
                    </li>
                    <li>
                        <p>Notre foi chrétienne puise ses racines dans le <strong>judaïsme</strong></p>
                    </li>
                    <li>
                        <p><strong>Jésus-Christ est le seul médiateur</strong> entre Dieu et les hommes. Il est de
                            toute éternité le Fils unique de Dieu. Conçu par la vertu du Saint-Esprit et né
                            d’une vierge, le Fils de Dieu fut autant réellement homme que réellement Dieu. Il
                            a volontairement souffert la mort de la croix pour satisfaire à la justice divine.
                            Il est ressuscité le 3ème jour, est apparu à divers témoins et est remonté au Ciel
                            près du Père</p>
                    </li>
                    <li>
                        <p>Pour être sauvé, <strong>l’homme</strong> doit, sous l’action du Saint-Esprit, se repentir de
                            ses péchés et placer sa foi dans l’œuvre expiatoire de Jésus-Christ à la croix.</p>
                    </li>
                    <li>
                        <p>Le salut est donné par Sa <strong>grâce</strong>, et non par nos propres œuvres.</p>
                    </li>
                    <li>
                        <p>Le <strong>Saint Esprit</strong>, personne divine, est l’héritage de tout enfant de Dieu. Il
                            applique au cœur les vérités de l’Ecriture. Il produit en ceux qui sont sauvés la
                            vie chrétienne</p>
                    </li>
                    <li>
                        <p>À la pratique du <strong>baptême d’eau par immersion</strong> pour chaque croyant,</p>
                    </li>
                    <li>
                        <p>Au <strong>baptême du Saint-Esprit</strong> comme une expérience précise accordée par Dieu
                            à tout croyant</p>
                    </li>
                    <li>
                        <p><strong>À la pratique</strong> dans l’église <strong>de la Cène</strong>, instituée par notre
                            Seigneur Jésus-
                            Christ pour commémorer et proclamer sa mort expiatoire sur la croix</p>
                    </li>
                    <li>
                        <p>À <strong>la guérison divine</strong> par la prière de la foi,</p>
                    </li>
                    <li>
                        <p><strong>Au retour</strong> ou seconde venue <strong>de Jésus-Christ</strong> sur la terre, et
                            au <strong>jugement
                                final</strong></p>
                    </li>
                    <li>
                        <p>À <strong>l’éternité dans la présence de Dieu</strong> pour ceux qui l’ont accepté.</p>
                    </li>
                </ul>
            </div>
        </article>
    </section>
{% endblock %}