{% extends 'base.html.twig' %}
{% block title %}
    Le Rameau - Informations de contact
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/home/contact/mobile-main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home/contact/desktop-main.css') }}">
{% endblock %}
{% block main %}
    <p>Pour toutes questions veuillez nous contacter par mail à l'adresse suivante : <br>
    <b>lerameau@gmail.com</b></p>
    <p>Nous vous répondrons au plus vite !</p>
{% endblock %}