{% extends 'base.html.twig' %}
{% block title %}
    Le Rameau - Signalement erreur
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/home/signal/mobile-main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home/signal/desktop-main.css') }}">
{% endblock %}
{% block main %}
    <p>Merci de signaler tout problème à l'adresse suivante : <br>
    <b>egliselerameau@gmail.com</b>
    </p>
    <p>Nous retournerons vers vous au plus vite !</p>
{% endblock %}