main {
    min-height: 100vh;
}
article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    color:black;
    padding: 20px 0;
}
article figure {
    width: 90%;
    margin: 0 auto;
}
figcaption {
    padding: 20px 0;
    text-align: center;
}
article img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
}
.date {
    letter-spacing: 3px;
}