@media all and (min-width:1200px) {

    .background {
        filter: none;
    }
    #title-church {
        position: absolute;
        top: 30%;
        font-size: 2.5rem;
    }
    .vision {
        font-size: 2.5rem;
        width: 75%;
        text-align: center;
    }
    .faith {
        margin-top: 50px;
    }
    .faith-list {
        width: 60%;
        padding-bottom: 40px;
        font-size: 2rem;
    }
    .faith-list p {
        margin: 0;
    }
    .faith-list li {
        padding: 13px 0;
    }

}